@using ThucChien.Models;
@model List<ItemGioHang>
@{
    ViewBag.Title = "Xem Gio Hang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@if (Model == null)
{
    <h1>Giỏ hàng rỗng</h1>
}
else
{
<table class="table">
    <tr>
        <td>Mã Sản Phẩm</td>
        <td>Tên Sản Phẩm</td>
        <td>Hình ảnh</td>
        <td>Số lượng</td>
        <td>Đơn Giá</td>
        <td>Thành tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>@item.MaSP</tr>
        <tr>@item.TenSP</tr>
        <tr><img src=" @Url.Content("~/Content/HinhAnhSP"+item.HinhAnh)" width="50px" height="50px"/></tr>
        <tr>@item.SoLuong</tr>
        <tr>@item.DonGia.ToString("#,##") đồng</tr>
        <tr>@item.ThanhTien.ToString("#,##")</tr>
    }
</table>
}


