@using ThucChien.Models;
@model IEnumerable<SanPham>
    @{
        ViewBag.Title = "SanPham";
        Layout = "~/Views/Layout/ProductLayout.cshtml";
    }

    <div class="col-md-9 product1">
        <div class=" bottom-product">
            @foreach (var item in Model.OrderBy(n => n.DonGia))
            {
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="@Url.Action("XemChiTiet", "SanPham", new {@id = item.MaSP})">
                            <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" alt="" style="height: 150px; width: 150px;">
                            <div class="pro-grid">
                                <span class="buy-in">Đặt Mua</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">@item.TenSP</p>
                    @* THẻ <a> này là của nút thêm *@
                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP=item.MaSP, @strURL= Request.Url.ToString() })" class="item_add">
                        <p class="number item_price"><i> </i>@item.DonGia.Value.ToString("##,###") VNĐ</p>
                    </a>
                </div>

            }
            <div class="clearfix"> </div>
        </div>
    </div>

